logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
file
app.log
tempDBFolder
projectFilesBackup
.sonar
.sbtserver
profile.log
.scannerwork
sonar-project.properties
.idea/workspace.xml
local.*